#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  height: 100%;
  margin: 0;
  font-family: sans-serif;
  font-weight: 100;
  background: -webkit-linear-gradient(45deg, #5f2c82, #3e34eb);
  background: linear-gradient(45deg, #5f2c82, #3e34eb);
}

.logo {
  will-change: filter;
  transition: filter 300ms;
  transition: filter 300ms, transform 300ms ease-out;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #ffffffaa);
  transform: scale(1.2); 
  transition: transform 300ms ease-in-out; 
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
